<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Meet the Developers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="developers-container">
    <div class="developer-card">
      <img src="assets/icon/chan.jpg" alt="Developer 1">
      <h2>Christian Ryan Bolima</h2>
      <h4>Backend</h4>
      <p>"Pag may gata, may bata!"</p>
    </div>

    <div class="developer-card">
      <img src="assets/icon/sam.jpg" alt="Developer 2">
      <h2>Samuel Jordan Villarica</h2>
      <h4>Frontend</h4>
      <p>"Stop wasting time para hindi sayang oras mo"</p>
    </div>
  </div>
</ion-content>
