<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Company History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <h1>Company History</h1>
    <p>
      Juice2Go was founded in 2024, with a mission to make healthy living accessible, convenient, and delicious. The company started in a small community, driven by the vision of providing natural, fresh, and high-quality bottled juices to busy individuals who prioritize health but are pressed for time. The founders, inspired by a passion for wellness and sustainability, believed that everyone should have access to nutritious beverages without compromising on taste or quality.
    </p>
  </div>
</ion-content>
